import React, { ReactElement } from 'react';

const {{properCase name}} = (): ReactElement => (
  <div data-testid="{{dashCase name}}-component">
    <h1>{{properCase name}}</h1>
  </div>
);

export default {{properCase name}};