import React from 'react';
import { render, RenderResult } from '@testing-library/react';
import {{properCase name}} from '../index';

let documentBody: RenderResult;

describe('<{{properCase name}} />', () => {
  beforeEach(() => {
    documentBody = render(
      <{{properCase name}} />);
  });

  it('shows not found message', () => {
    expect(documentBody.getByTestId('{{dashCase name}}-component')).toBeTruthy();
  });
});